.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 60px;
    width: 200px;
    border-right: 1px solid rgba(black, 0.3);
    box-shadow: -7px -2px 25px rgba(0, 0, 0, 0.5);

    .sidebar-item {
        cursor: pointer;
        border-bottom: 1px solid rgba(black, 0.3);
        padding: 25px 20px;
    }
}