$colorWhiteYellow: #feffdb;
$colorYellow: #ffc60b;
$colorOrange: #ff8b00;
$colorGray: #333;
$colorWhite: #fff;
$colorLightGray: #c4c4c4;
$colorBlack: #000;

$background: $colorWhite;
$fontColor: #000;