.content {
    position: relative;
    left: 200px;
    top: 60px;
    padding: 35px;
    padding-bottom: 20px;
    width: calc(100vw - 271px);
    height: calc(100vh - 115px);
    overflow: scroll;
}