<div class="box">
    <img src="{{ imgUrl }}" alt="Foto do rotulo">
    <div class="content">
        <div class="title">
            {{ production.beer.name }}
        </div>
        <div class="type">
            Quantidade: {{ production.quantity }}
        </div>
        <div class="level">
            Envase: {{ BottleType[production.bottleType] }}
        </div>
        <div class="level">
            Dias restantes: {{ getRemainingDays(production) }} dias
        </div>
    </div>
    <div class="remaining-days-bar"></div>
</div>