<div class="box">
    <img src="{{ getImgUrl() }}" alt="Foto do rotulo">
    <div class="content">
        <div class="title">
            {{ production.cerveja.nome }}
        </div>
        <div class="type">
            Quantidade: {{ production.quantidadeEmLitros }} litros
        </div>
        <!-- <div class="level">
            Envase: {{ BottleType[production.bottleType] }}
        </div> -->
        <div class="level">
            Dias restantes: {{ production.getRemainingDays() > 0 ? production.getRemainingDays() + ' dias' : 'Finalizada' }}
        </div>
    </div>
    <div class="remaining-days-bar">
        <div class="filling-bar" [style.width.%]="productionBarLength()"></div>
    </div>
</div>